pkgbase = remielle-astral-bin
	pkgdesc = Launcher for the Remielle (Zenless Zone Zero) private server: servers, account editor, mods
	pkgver = 1.3.b3.3.3
	pkgrel = 1
	url = https://github.com/thaxao/Remielle-Astral
	install = remielle-astral-bin.install
	arch = x86_64
	license = Apache-2.0
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = glib2
	depends = glibc
	depends = bash
	depends = curl
	depends = unzip
	optdepends = wine: start the game on Linux
	optdepends = git: the Official server and the Official client patch
	provides = remielle-astral
	conflicts = remielle-astral
	conflicts = remielle-astral-git
	options = !strip
	options = !debug
	source = remielle-astral-1.3.b3.3.3-linux-x86_64.zip::https://github.com/thaxao/Remielle-Astral/releases/download/v1.3.b3.3.3/remielle-astral-1.3.b3.3.3-linux-x86_64.zip
	sha256sums = cbf735fd2e0a62dc2f5f4bb467fd099851fc1362bdeda3b7335ff798da066b30

pkgname = remielle-astral-bin
